/* Snake V2 - Rafael Morais */

html, body {
    height: 100%;
    /* overflow: hidden; */
}

.header {
    text-align: center;
    font-weight: bold;
    height: 10%;
} 

.field {
    display: flex;
    height: 86%;
    justify-content: center;
}

.misc {
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    font-weight: bold;
}

.result {
    padding-right: 3%;
}

.auxResult {
    padding-right: 1%;
}

.row {
    height: 3%;
    flex-direction: row;
    border-style: solid;
    border-width: thin;
}

.col {
    flex-direction: column;
    width: 100%;
}


.head {
    background-color: red !important;
}

.food {
    background-color: green;
}

.body {
    background-color: gray;
}

.ass {
    background-color:blue;
}